// Radius
$border-radius-base: 4;
$border-radius-small: 2;
$border-radius-circle: 100%;
$border-radius-zero: 0;
// Shadow
$box-shadow-base: 0 px2rem(2) px2rem(4) rgba(0, 0, 0, .12), 0 0 px2rem(6) rgba(0, 0, 0, .04);
$box-shadow-light: 0 px2rem(2) px2rem(12) rgba(0, 0, 0, .1);
