// Font Size
$font-size-extra-large: 20;
$font-size-large: 18;
$font-size-medium: 16;
$font-size-base: 14;
$font-size-small: 13;
$font-size-extra-small: 12;
// Font Weight
$font-weight-primary: 500;
$font-weight-secondary: 100;
// Line Height
$font-line-height-primary: 1.5;
$font-line-height-secondary: 1.3;
